<h1>This is hello</h1>

<%= 1 + 1 %>

<br />

<% target = 'world' %>
<%= "hello #{target}!" %>

<% @array.each do |n| %>
    <p><%= n %></p>
<% end %>

<br/>

<%= link_to("Index Page", {:action => 'index'}) %><br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />
Nest Page: <%= @page.to_i + 1 %><br />

